<form method="POST" action="/deal/create" enctype="multipart/form-data">

  <label for="input-message">Message</label>
  <textarea name="message" id="input-message"></textarea>

  <label for="input-picture">Picture </label>
  <input type="file" name="picture" id="input-picture" />

  <button>Offer Deal</button>
</form>