<form method="POST" action="/deal/create" enctype="multipart/form-data">

  <label for="input-title"> Deal Title</label>
  <textarea
    name="title"
    id="input-title"
    style="text-transform:uppercase;"
  ></textarea>

  <label for="input-description">Deal description</label>
  <textarea name="description" id="input-description"></textarea>

  <label for="deal-type">Select the deal type

  </label>
  <select name="type" id="type"><option value="object">Object</option><option
      value="service"
    >Service</option></select>

  <label for="input-image">Image </label>
  <input type="file" name="image" id="input-image" />

  <button>Offer Deal</button>
</form>