<div class="about-us">
  <h1>Welcome to
    <strong>EcoBarter</strong>
    , the
    <strong>oldest</strong>
    form of
    <strong>commerce</strong>!</h1>

  <h4>By creating an account, you get the chance to exchage
    <u>goods</u>
    or
    <u>services</u>
    with our users
    <u>without the use of money!!</u>
    Barter goods and services between each other based on equivalent estimates
    of prices and goods.</h4>

  <section>
    <h2>Tips to Barter</h2>
    <ol>
      <div id="order-list">

        <li>Identify your resources: What items do you have that you could
          easily part with? It could be a service as a skill, a talent, or even
          a hobby, such as photography.</li>
        <li>Put a price tag on it: Successful bartering must result in the
          satisfaction of both parties. An item is only worth what someone is
          willing to pay for it. Therefore, do your research!</li>
        <li>To value a service, call around for local estimates from
          professionals to find out how competitively you can price your
          abilities</li>
        <li>Remember to be honest about your skills and to factor in costs
          associated with the exchange; for example, shipping (for goods) or
          materials (for trading a skill).</li>
        <li>Identify your needs: Be specific about what you are looking for in a
          barter exchange. In addition to specific items you may need, here is a
          list of potential services that you could barter for:</li>
      </div>
      <div id="unorder-list">
        <ul>
          <li>Babysitting/daycare</li>
          <li>Car repair work</li>
          <li>Lawn care/landscaping</li>
          <li>Computer repair</li>
          <li>Small home improvement projects</li>
          <li>Plumbing</li>
          <li>Moving assistance</li>
          <li>Tax preparation</li>
          <li> Financial planning</li>
          <li>Cooking</li>
          <li>Housekeeping</li>
        </ul>
      </div>

    </ol>
  </section>

  <section>
    <div id="prohibited-list">
      <h2>Strictly prohibited products and services to barter:</h2>

      <ul>
        <li>Foreign currencies</li>
        <li>Alcohol, tobacco, and drugs</li>
        <li>Any other illegal, inappropriate or violent content</li>
        <li>Live animals, organs or parts of being.</li>
        <li>Sexual services</li>
        <li>Selling counterfeit/illegal/copyright violating items.</li>
      </ul>
    </div>
    <i><p>This platform is created as an eco-friendly initiative. Our admins are
        not responsible nor liable for any private transactions between users.
        Of course, at all times, we expects all users to follow the Code of
        Conduct.</p></i>

  </section>
  <strong><a id="start-bartering" href="/home">Start Bartering</a></strong>

</div>