<h1>EcoBarter</h1>

<div id="aboutUs-explaining">
  <h3>Make a barter about anything!</h3>
  <p>Make a barter with someone that needs what you are offering. No money
    involved.
  </p>
</div>

<div id="aboutUs-advantages">
  <ul>
    <li>Do not waste money</li>
    <li>Eco friendly</li>
    <li>Acces more</li>
  </ul>
</div>