*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
}

a {
  text-decoration: none;
  color: red;
}

nav {
  display: flex;
}

nav a,
nav button {
  padding: 1em 0;
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

/*ABOUT US 
#aboutUs-explaining {
  background-color: rgba(225, 238, 222, 0.877);
}
#aboutUs-advantages {
  background-color: rgba(225, 238, 222, 0.877);
}
*/
/* HOME PAGE */
#create-deal {
  padding: 0.5em;
  background-color: #e6e9dd;
  margin-top: 3em;
  border-radius: 5px;
  color: #355549;
}

.deal-body {
  border-radius: 1em;
  background-color: whitesmoke;
  padding: 1em;
  margin-bottom: 2em;
}

.deal-body .description,
.deal-body .header div {
  background-color: #e6e9dd;
  border-radius: 1em;
  padding: 0.6em;
}

.deal-body .description {
  margin-top: 1em;
}

.deal-body .header {
  display: flex;
  flex-direction: row;
}

.deal-body .header h4 {
  font-size: 16px;
}

.deal-body .header div:not(:last-child) {
  margin-right: 1em;
}

.deal-body .header img {
  width: 442px;
  height: 250px;
  border-radius: 1em;
  object-fit: contain;
  object-position: center;
}

/* NAV BAR LAYOUT */
.link-layout {
  padding: 0.5em;
  background-color: #e6e9dd;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #355549;
  font-size: large;
}

.layout img {
  width: 50px;
  height: 50px;
  margin: 1.5em;
  margin-right: 0em;
}

.layout #title {
  margin-top: 1em;
  margin-right: 4em;
  margin-left: 0em;
  background-color: #2c9647;
  color: white;
  border-radius: 8px;
  padding: 0.2em;
}

/* ABOUT US */
.about-us {
  border-radius: 1em;
  padding: 1em;
  background-color: whitesmoke;
  margin-bottom: 1em;
}

.about-us img {
  width: 70px;
}

.about-us strong {
  color: #2c9647;
}

.about-us h2 {
  font-family: serif;
}

.about-us #order-list {
  border-radius: 1em;
  background-color: #e6e9dd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-style: italic;
  margin-bottom: 1em;
}

.about-us #unorder-list {
  border-radius: 1em;
  background-color: #e6e9dd;
  font-style: italic;
}

.about-us #prohibited-list {
  border-radius: 1em;
  background-color: #e79e9e;
}

.about-us #prohibited-list h2 {
  margin-left: 1em;
}

/* CREATION FORM*/
#input-title,
#input-description,
#type,
#input-image,
#input-email,
#input-password,
#input-name,
#input-username {
  border-style: dashed;
  border-color: green;
  border-radius: 0.5em;
  border-width: 3px;
  width: 100%;
}

#sign-in,
#sign-up,
#offer-deal-button,
#profile-view,
#edit-deal,
#delete-deal,
#edit-profile,
#delete-account,
#start-bartering {
  padding: 0.5em;
  background-color: #e6e9dd;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #355549;
  font-size: large;
}

#start-bartering {
  margin-bottom: 20em;
  margin-left: 17em;
}

#sign-out-profile {
  padding: 0.5em;
  background-color: #e6e9dd;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #355549;
  font-size: large;
}

.available-create {
  display: flex;
  flex-direction: row;
}

#create-deal {
  margin-left: 30em;
  margin-bottom: 1em;
}

/*# sourceMappingURL=style.css.map */