$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsl(0, 0, 90%);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-family: $font-sans;
  line-height: 2;
}

a {
  text-decoration: none;
  color: red;
}

/* NAV BAR LAYOUT */
nav {
  display: flex;
  padding: 1.5em 0;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
  form {
    margin-bottom: 0;
    button {
      padding: 0.5em;
      background-color: rgb(230, 233, 221);
      border-radius: 5px;
      color: rgb(53, 85, 73);
      font-size: large;
      margin-bottom: 0;
    }
  }
  h2 {
    background-color: rgb(44, 150, 71);
    color: white;
    border-radius: 8px;
    padding: 0.2em;
    margin-bottom: 0;
  }
  img {
    width: 50px;
    height: 50px;
    margin: 0;
  }
  a {
    display: inline-flex;
  }
  .logo {
    display: flex;
    margin-right: auto;
  }
  .link-layout {
    padding: 0.5em;
    background-color: rgb(230, 233, 221);
    border-radius: 5px;
    // margin-top: 1em;
    // margin-bottom: 1em;
    color: rgb(53, 85, 73);
    font-size: large;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
  margin: 1.5em;
  margin-right: 0em;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

/*ABOUT US 
#aboutUs-explaining {
  background-color: rgba(225, 238, 222, 0.877);
}
#aboutUs-advantages {
  background-color: rgba(225, 238, 222, 0.877);
}
*/
/* HOME PAGE */

#create-deal {
  padding: 0.5em;
  background-color: rgb(230, 233, 221);
  // margin-top: 3em;
  border-radius: 5px;
  color: rgb(53, 85, 73);
}
.deal-body {
  border-radius: 1em;
  background-color: rgb(245, 245, 245);
  padding: 1em;
  margin-bottom: 2em;

  .description,
  .header div {
    background-color: rgb(230, 233, 221);
    border-radius: 1em;
    padding: 0.6em;
  }

  .description {
    margin-top: 1em;
  }

  .header {
    display: flex;
    flex-direction: row;

    h4 {
      font-size: 16px;
    }

    div:not(:last-child) {
      margin-right: 1em;
    }

    img {
      width: 442px;
      height: 250px;
      border-radius: 1em;
      object-fit: contain;
      object-position: center;
    }
  }
}

/* ABOUT US */
.about-us {
  border-radius: 1em;
  padding: 1em;
  background-color: rgb(245, 245, 245);
  margin-bottom: 1em;
  img {
    width: 70px;
  }
  strong {
    color: rgb(44, 150, 71);
  }
  h2 {
    font-family: serif;
  }
  #order-list {
    border-radius: 1em;
    background-color: rgb(230, 233, 221);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: italic;
    margin-bottom: 1em;
    ul {
      border-radius: 1em;
      background-color: rgb(230, 233, 221);
      font-style: italic;
    }
  }

  #prohibited-list {
    border-radius: 1em;
    h2 {
      margin-left: 1em;
    }

    background-color: rgb(231, 158, 158);
  }
}

/* CREATION FORM*/

#input-title,
#input-description,
#type,
#input-image,
#input-email,
#input-password,
#input-name,
#input-username {
  border-style: dashed;
  border-color: green;
  border-radius: 0.5em;
  border-width: 3px;
  width: 100%;
}

#sign-in,
#sign-up,
#offer-deal-button,
#edit-deal,
#delete-deal,
#edit-profile,
#delete-account,
#start-bartering {
  padding: 0.5em;
  background-color: rgb(230, 233, 221);
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(53, 85, 73);
  font-size: large;
}

#start-bartering {
  margin-bottom: 20em;
  margin-left: 17em;
}

.available-create {
  display: flex;
  flex-direction: row;
}

#create-deal {
  margin-left: auto;
  margin-bottom: 1em;
}
